@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  background-color: #050505;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}

/* Utilità di selezione testo (recuperata da App.tsx classes) */
::selection {
  background-color: #00f3ff;
  color: #000;
}